<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ittam.web.user_request.service.UserRequestMapper">

    <select id="UserRequestList" resultType="UserRequestVO">
        select * from USER_REQUEST WHERE userq_yn = '사원사용요청' ORDER BY userq_num ASC;
    </select>

    <update id="UserRequestApprove" parameterType="int">
        update USER_REQUEST set userq_yn = '관리자사용승인', userq_grantor = '관리자', userq_okdate = now()
        where userq_NUM = #{userq_NUM}
    </update>

    <update id="UserRequestreturn" parameterType="int">
        update USER_REQUEST set userq_yn = '관리자사용반려', userq_grantor = '관리자', userq_okdate = now()
        where userq_NUM = #{userq_NUM}
    </update>

    <select id="UserRequestSearch" resultType="UserRequestVO">
        select * from USER_REQUEST WHERE (user_id = #{inputText} or userq_kind = #{inputText}) and userq_yn = '사원사용요청' ;
    </select>

    <select id="UserRequestHandle" resultType="UserRequestVO">
        select * from USER_REQUEST WHERE userq_yn in ('관리자사용승인', '관리자사용반려')
    </select>

    <select id="UserRequestHandleSearch" resultType="UserRequestVO">
        SELECT * FROM USER_REQUEST
        WHERE (user_id = #{inputText} OR userq_kind = #{inputText})
        AND userq_yn IN
        <foreach collection="pageNav" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="UserRequestNavSearch" resultType="UserRequestVO">
        SELECT * FROM USER_REQUEST
        WHERE userq_yn IN
        <foreach collection="navText" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="UserRequestCategorySearch" resultType="UserRequestVO">
        SELECT *
        FROM GROUP_CATEGORY C1
        JOIN USER_REQUEST UR ON C1.category_num = UR.category_num
        WHERE C1.category_parent_num = #{category_num} and UR.USERQ_YN in
        <foreach collection="navText" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



    <select id="UserRequestBuyList" resultType="UserRequestVO">
        select * from USER_REQUEST WHERE userq_yn = '사원구매요청' ORDER BY userq_num ASC;
    </select>

    <update id="UserRequestBuyApprove" parameterType="int">
        update USER_REQUEST set userq_yn = '관리자구매승인', userq_grantor = '관리자', userq_okdate = now()
        where userq_NUM = #{userq_NUM}
    </update>

    <update id="UserRequestBuyReturn" parameterType="int">
        update USER_REQUEST set userq_yn = '관리자구매반려', userq_grantor = '관리자', userq_okdate = now()
        where userq_NUM = #{userq_NUM}
    </update>

    <select id="UserRequestBuySearch" resultType="UserRequestVO">
        select * from USER_REQUEST WHERE (user_id = #{inputText} or userq_kind = #{inputText}) and userq_yn = '사원구매요청' ;
    </select>

    <select id="UserRequestBuyHandlePage" resultType="UserRequestVO">
        select * from USER_REQUEST WHERE userq_yn in ('관리자구매승인', '관리자구매반려')
    </select>

    <select id="UserRequestBuyHandleSearch" resultType="UserRequestVO">
        SELECT * FROM USER_REQUEST
        WHERE (user_id = #{inputText} OR userq_kind = #{inputText})
        AND userq_yn IN
        <foreach collection="pageNav" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="UserRequestBuyNavSearch" resultType="UserRequestVO">
        SELECT * FROM USER_REQUEST
        WHERE userq_yn IN
        <foreach collection="navText" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="UserRequestBuyCategorySearch" resultType="UserRequestVO">
        SELECT *
        FROM GROUP_CATEGORY C1
        JOIN USER_REQUEST UR ON C1.category_num = UR.category_num
        WHERE C1.category_parent_num = #{category_num} and UR.USERQ_YN in
        <foreach collection="navText" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>